header {
	width: 100%;
	max-width: 1600px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 2rem;
	.logo {
		&:hover, &:focus {
			color: $green;
		}
	}
	ul {
		display: flex;
		li {
			a {
				display: flex;
				align-items: center;
				position: relative;
				margin: 0 0.5rem;
				.caret {
					margin: 0 0.25rem;
					color: $green;
				}
				.nav-icon {
					display: none;
				}
			}
		}
	}
	@media only screen and (max-width: 768px) {
		flex-direction: column;
		text-align: center;
		padding: 1rem;
		ul {
			margin-top: 1rem;
		}
	}
}