* {
	box-sizing: border-box;
	outline: none !important;
	&:hover, &:focus {
		outline: none !important;
	}
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	background-color: #353535;
	margin: 0;
	main {
		flex: 1 1 auto;
	}
}

button {
	border: none;
	border-radius: 0;
}

// Sections
.container {
	width: 100%;
	@media only screen and (min-width: 1000px) {
		max-width: 1600px;
		padding: 4rem 10rem;
	}
	@media only screen and (max-width: 999px) {
		max-width: none;
		padding: 2rem;
	}
}

.separator {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: relative;
	margin: 10vh 0;

	span {
		color: rgba(grey, 0.4);
		font-weight: 500;
	}
	&:before {
		content: '';
		position: absolute;
		width: 90%;
		left: 5%;
		top: 0.7rem;
		height: 0.1rem;
		background-color: $lightgrey;
	}
	@media only screen and (max-width: 768px) {
		margin: 3rem 0;
	}
}