* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	background-color: #353535;
	margin: 0;
	main {
		flex: 1 1 auto;
	}
}

.container {
	width: 100%;
	@media only screen and (min-width: 1000px) {
		max-width: 1600px;
		padding: 4rem 10rem;
	}
	@media only screen and (max-width: 999px) {
		max-width: none;
		padding: 2rem;
	}
}

header, footer {
	max-width: 1600px;
	width: 100%;
	padding: 2rem;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

ul, p, span, label, button {
	list-style: none;
	padding: 0;
	margin: 0;
}


section#splash {
	margin-top: 10vh;
	h1 {
		margin: 1rem 0;
	}
	h3 {
		margin-top: 5rem;
	}
}

