@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,500');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro');

@font-face {
	font-family: system;
	font-style: normal;
	font-weight: 300;
	src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
html {font-size: 18px;}

body {
	font-family: 'Roboto Slab', 'system';
	line-height: 1.25;
	color: white;
}

h1, h2, h3, h4, h5 {
	font-family: 'Roboto Slab', 'system';
	font-weight: 500;
	margin-bottom: 2rem;
}

h1, .h1 {
	font-size: 4.209rem;
	line-height: 4rem;
}

h2, .h2 {font-size: 3.157rem;}

h3, .h3 {font-size: 2.369rem;}

h4, .h4 {font-size: 1.777rem;}

h5, .h5 {font-size: 1.333rem;}

small, .text_small {font-size: 0.75rem;}

p {
	margin: 1rem 0;
	a {
		color: $green;
	}
}

ul, span, label, button {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
	transform: 200ms linear;
	&:hover, &:focus {
		opacity: 0.75;
	}
}

@media only screen and (max-width: 768px) {
	h1, .h1 {font-size: 3.157rem;}

	h2, .h2 {font-size: 2.369rem;}

	h3, .h3 {font-size: 1.777rem;}

	h4, .h4 {font-size: 1.333rem;}

	h5, .h5 {font-size: 1rem;}
}

.roboto {
	font-family: 'Roboto Slab', 'system';
}

.code {
	font-family: 'Source Code Pro', 'system';
}
